@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


 body{
    font-family:'Poppins',sans-serif;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;

    background-image: url("images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
      
}



@keyframes gradientMove{
    0%{
        background-position:0% 50%;
    }
    50%{
        background-position:100% 50%;
    }
    100%{
        background-position:0% 50%;
    }
}



body::before,
body::after{
    content:'';
    position:absolute;
    border-radius:50%;
    filter: blur(80px);
    opacity:0.7;
}

body::before{
    width:300px;
    height:300px;
    background:#38bdf8;
    top:-80px;
    left:-80px;
}

body::after{
    width:350px;
    height:350px;
    background:#f472b6;
    bottom:-100px;
    right:-100px;
}


.container{
    width:380px;
    padding:35px;
    border-radius:28px;
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border:1px solid rgba(255,255,255,0.18);
    box-shadow:
        0 8px 32px rgba(0,0,0,0.35);
    text-align:center;
    color:white;
    z-index:10;
    backdrop-filter: blur(18px);
}

/* Heading */

h1{
    font-size:2.2rem;
    margin-bottom:25px;
    font-weight:600;
    letter-spacing:1px;
    text-shadow:0 0 15px rgba(255,255,255,0.4);
}

/* Input */

input{
    width:100%;
    padding:15px;
    border:none;
    outline:none;
    border-radius:14px;
    margin-bottom:15px;
    background:rgba(255,255,255,0.18);
    color:white;
    font-size:1rem;
}

input::placeholder{
    color:rgba(255,255,255,0.75);
}



button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:14px;
    background: linear-gradient(
        135deg,
        #ffffff,
        #dbeafe
    );
    color:#1e3a8a;
    font-size:1rem;
    font-weight:600;
    cursor:pointer;
    transition:0.3s ease;
}

button:hover{
    transform:translateY(-4px) scale(1.02);
    box-shadow:0 0 20px rgba(255,255,255,0.4);
}



#weatherResult{
    margin-top:25px;
    padding:22px;
    border-radius:20px;
    background:rgba(255,255,255,0.14);
    animation: fadeIn 0.5s ease;
}

#weatherResult h2{
    font-size:2rem;
    margin-bottom:10px;
}

#weatherResult p{
    margin:10px 0;
    font-size:1rem;
}



@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(15px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}



@media(max-width:450px){

    .container{
        width:90%;
        padding:25px;
    }

    h1{
        font-size:1.7rem;
    }
}
